body {
    background-color: #030061;
}


#banner {
    width: 500%;
    /*grid-column: 1/2;
    grid-row: 1/2;*/
    background-image: url(images/sharks_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15vh;
    color: white;
    margin-right: 2.5%;
    padding: 1% 1% 1% 1.5%;
}

#header {
    /*display: grid;
    grid-row: auto auto;
    grid-column: 70% 15% 15%;
    grid-gap: 1%;*/

    background-color: #030061;
}

#partOne {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#searchbar {
    margin-top: 2%;
    /*grid-column: 2/3;
    grid-row: 1/2;*/
    margin-right: 2.5%;
}


#nav {
    background-color: #1c40a0;
    width: 95%;
    /*grid-row: 2/3;
    grid-column: 1/4;*/
    margin-top: 1%;
    color: white;
    margin: 1% 2.5%;
}


nav {
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
}

#nav > nav > a {
    padding: 0.5% 5%;
    text-decoration-line: none;
    color: white;
}



#icon {
    /*background-color: #f0f0ff;*/
    width: 100%;
    /*padding: 1% 1% 0% 1%;
    grid-row: 1/2;
    grid-column: 3/4;*/
}   

#try {
    background-color: #f0f0ff;
}

#icon > img {
    width: 22.5%;
}