body {
    background-color: #030061;
}


#banner {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}

#banner > img {
    width: 100%;
}

#header {
    display: grid;
    background-color: #030061;
    grid-row: auto auto;
    grid-column: auto auto auto;
    grid-gap: 1%;

}

#searchbar {
    margin-top: 30%;
    grid-column: 2/3;
    grid-row: 1/2;
}


#nav {
    background-color: #ffffff;
    width: 100%;
    grid-row: 2/3;
    grid-column: 1/4;
    margin-top: 1%;
}


nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav > nav > a {
    padding: 0.5%;
}

#icon {
    background-color: #f0f0ff;
    width: 100%;
    /*padding: 1% 1% 0% 1%; fucking kill me alr mate fucking hell would he get it on alr i cant do this anymore, lawd almighty nauroh my god stawp it i cant anymore btw like ive gotta ctach up i look royaly fucked myself up i hate it so much word is nert meet new places, the gays, the lesbians and the sigmas, mmmmhm ive got like what 30min left? idk man, ive also gotta do more on medtwt on figma AND update my antrag im gettng less sleep than a mf not washing ur hands what they wanna go the toilet tgthr? huh gay ass jingle jingle, they fr gonna wash they hands, "das ist gar nihct gesund" official yappers fr, gawd dont u just wish u can shut them up what holy i didnt die yippee bro they missed like a whole hour, also in like 15 min i finna be free okay so like this is startingf to really pmo like why are yall like that groan my stomach lwk killin me jesus, ikd what to do, im like so fuckin lazy gorsh, 10 more min tho sus bruss idk man fuck if ik im frustarated and pent upits joever man wtf it wasnt supposed to end like that omg finally 3min hes kinda like soft boy pathetic OR basically a soppid wet rat tahts kinda cute, like hes soft spoken but also not???? idk mani just want that cookie liek fuck me man tahts a fine ass cookie dont get me started on the cake, delicious but the thing with the cake is it comes from the most unexpected source its crazy it got that jiggle yk which like holyyyyyyyyyyyyyyyyyy my my fucking my, my eyes blessed tall bois, urgh hot*/ 
    grid-row: 1/2;
    grid-column: 3/4;
}   

#icon > img {
    width: 22.5%;
}