body {
    background-color: #030061;
}


#banner {
    background-color: grey;
    width: 60%;
}

#banner > img {
    width: 50%;
}

#header {
    display: grid;
    background-color: #030061;
    

}

#searchbar {
    background-color: black;
}


#nav {
    background-color: #ffffff;
}

#icon {
    background-color: #f0f0ff;
    width: 10%;
}   

#icon > img {
    width: 100%;
}