body {
    background-color: #0c0943;
    
}

@font-face {
    font-family: orange-typewriter;
    src: url(../font/orange-typewriter/Orange\ Typewriter.ttf);
}

#cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    box-shadow: 5px 5px grey;
    background-color: white;
    width: 100%;
    margin: 0% 2.5%;
    font-family: orange-typewriter;
    font-weight: normal;
    height: 40vh;
}

.try_card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0%;
}

.card-img {
    width: 30vw;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 3% 3%;
}

.card_txt {
    width: 75%;
}

.card_txt > a {
    text-decoration: none;
}

.img {
    box-shadow: 2.5px 2.5px grey;
    width: 100%;
}

.name {
    font-size: 300%;
}

/*.box_out {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}*/

img {
    width: 100%;
}

.bookmark {
    width: 5%;
    margin-left: 80%;
}

.heart {
    width: 30%;
    margin-left: 65%;
    margin-bottom: 0%;
}