body {
    background-color: #0c0943;
    
}

@font-face {
    font-family: orange-typewriter;
    src: url(../font/orange-typewriter/Orange\ Typewriter.ttf);
}

#cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    box-shadow: 2.5px 2.5px 2px grey;
    background-color: white;
    width: 100%;
    margin: 0% 2.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: orange-typewriter;
    font-weight: normal;
    
    height: 40vh;
}

.card-img {
    width: 50%;
}

.card_txt {
}

.img {
    box-shadow: 2.5px 2.5px grey;
    width: 100%;
}

.name {
    font-size: 300%;
}